    /*
    Flaticon icon font: Flaticon
    Creation date: 24/09/2020 12:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-diagnosis:before { content: "\f100"; }
.flaticon-teeth:before { content: "\f101"; }
.flaticon-tooth:before { content: "\f102"; }
.flaticon-dental-care:before { content: "\f103"; }
.flaticon-dental-implant:before { content: "\f104"; }
.flaticon-dental-prosthesis:before { content: "\f105"; }
.flaticon-lab-tool:before { content: "\f106"; }
.flaticon-braces:before { content: "\f107"; }
    
    $font-Flaticon-diagnosis: "\f100";
    $font-Flaticon-teeth: "\f101";
    $font-Flaticon-tooth: "\f102";
    $font-Flaticon-dental-care: "\f103";
    $font-Flaticon-dental-implant: "\f104";
    $font-Flaticon-dental-prosthesis: "\f105";
    $font-Flaticon-lab-tool: "\f106";
    $font-Flaticon-braces: "\f107";